includes:
	- kdyby.doctrine.neon	# Include kdyby/doctrine configuration



kdyby.doctrine:				# Add metadata directory for default doctrine MailQueue entity
	metadata:
		Simplement: %appDir%/../vendor/simplement/mailqueue/src/Bridges/DoctrineORM/Entity



extensions:
	simplement.mailqueue: Simplement\Bridges\MailDI\MailQueueExtension

simplement.mailqueue:
	timeLimit: 30					# Max executin time of cron script
	mailLimit: 50					# Max number of mails sent peer one cron call
	attemptLimit: 5					# Max number of attempts to send mail
	rescheduleTime: +30 minutes		# If unnable to send mail, try nex attempt after ...



services:
	mailQueue: Simplement\Bridges\DoctrineORM\MailQueue